[submodule "Lumerical-Objects"]
	path = Lumerical-Objects
	url = https://github.com/Niccolo-Marcucci/Lumerical-Objects
[submodule "meep_objects"]
	path = meep_objects
	url = https://github.com/Niccolo-Marcucci/meep_objects
[submodule "Near-to-Far-Field-Transformation"]
	path = Near-to-Far-Field-Transformation
	url = https://github.com/Niccolo-Marcucci/Near-to-Far-Field-Transformation
