# avoid lumerical and backup files
*.fsp
*.lms
*.log
*.bak
*.asv
\#*\#

# avoid data files
*.mat
*.csv
*.h5
*.json

# avoid videos and images
*.mpg
*.avi
*.mp4
*.png
*.fig
*.jpg
*.JPEG
*.gif
*.xcf
*.scad

#avoid personal notes
*.txt

#avoid dophin data
.dolphin
.directory

#python folder
__pycache__
